<div class="px-6 py-4 mb-5 rounded-2xl border-1 border-white">
  <h1 class="font-bold text-lg">contact info</h1>
  <p>+639190917709</p>
  <p>ethan.lorzano@gmail.com</p>
  <a class="underline" href="https://linkedin.com/in/ethan-lorzano" target="_blank">linkedin --&gt;</a>
  <br>
  <a class="underline" href="https://github.com/gannhiro" target="_blank">github --&gt;</a>
</div>
