<!--IconWithTitle-->

<div class="group flex flex-col items-center">
  <img
    class="group-hover:[filter:drop-shadow(0_4px_3px_rgba(0,0,0,0.4))] size-20 mb-3 object-contain  rounded-md"
    src="./assets/<%- iconSource %>.webp"
    alt="<%- iconSource %>">
  <h2 class="group-hover:[filter:drop-shadow(0_4px_3px_rgba(0,0,0,0.4))] text-center"><%- title %></h2>
</div>
