<!--IconWithTitle-->

<div class="group flex flex-col items-center cursor-pointer">
  <img class="group-hover:[filter:drop-shadow(0_4px_3px_rgba(0,0,0,0.4))] size-20 mb-3 object-contain" src="./assets/<%- iconSource %>">
  <h4 class="group-hover:[filter:drop-shadow(0_4px_3px_rgba(0,0,0,0.4))]"><%- title %></h4>
</div>
