<!--
  bungakuVersion: string
  dialogues: DialogueView[]
-->

<!DOCTYPE html>
<html lang="en" class="no-scrollbar overscroll-none">
  <head>
    <title>Ethan's Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://www.estella-dev.cloud/assets/preview.jpg">
    <meta property="og:title" content="Ethan's Portfolio">
    <meta property="og:description" content="Ethan, callsign: ESTELLA">
    <meta property="og:url" content="https://www.estella-dev.cloud">
    <meta property="og:type" content="website">
    <meta property="description" content="This is Ethan's Ace Combat themed portfolio.">
    <script src="htmx.min.js" defer></script>
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
  </head>
  <body class="relative grain-overlay font-main font-thin min-h-screen bg-gradient-to-tr from-bg1 to-bg3 text-white">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="hidden">
      <defs>
        <filter id="grainy-noise">
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0.5"
            numOctaves="3"
            stitchTiles="stitch"/>
        </filter>
      </defs>
    </svg>
    <audio id="background-music" autoplay loop>
      <source src="./audio/lighthouse-ac7.mp3" type="audio/mpeg">
    </audio>
    <div class="h-screen">
      <div class="w-full h-full flex items-center justify-center">
        <div class="sm:-rotate-45 mx-10 sm:mx-0 flex flex-col justify-center items-center" id="movablePlane">
          <div class="relative">
            <img class="size-75 object-contain" src="./assets/f22-plane-base.webp" alt="f22 raptor"/>
            <img id="sonicBoom" class="size-75 object-contain absolute top-0 left-0 opacity-0" src="./assets/f22-plane-sonic.webp" alt="f22 raptor sonic boom"/>
          </div>
          <h1 class="sm:absolute sm:-bottom-20 sm:-left-21 sm:rotate-90 sm:w-115 text-center">
            DOES THE COLOR OF THE SKY MEAN ANYTHING TO YOU?
          </h1>
        </div>
      </div>
    </div>
    <main class="mx-8 sm:mx-20 xl:mx-30">
      <header class="mb-5 sm:mb-10 flex flex-wrap">
        <div class="w-full flex-1 mb-5 sm:mb-0">
          <h1 class="text-3xl sm:text-6xl font-bold">ETHAN RAPHAEL B. LORZANO</h1>
          <h1 class="text-xl sm:text-4xl font-thin tracking-widest mb-5">software engineer</h1>
          <h4 class="font-bold mb-2 border-b-1 border-b-white">ASSESSMENT REPORT: LORZANO, E. R.</h4>
          <p class="text-justify">
            A Senior Mobile Engineer with expertise in cross-platform development using React Native and proficiency in native iOS (Swift). He is a product-focused developer with experience contributing to UX strategy and using generative AI to solve complex problems and streamline development. He is seeking to join a team focused on technical excellence and product innovation.
          </p>
        </div>
        <aside class="w-full lg:w-1/3 flex sm:flex-col items-center justify-center">
          <img src="./assets/razgriz-patch.webp" class="size-50 object-contain" alt="razgriz patch">
          <h1 class="font-thin mt-5">CALLSIGN: ESTELLA</h1>
        </aside>
      </header>
      <section class="mb-10">
        <h1 class="text-3xl sm:text-4xl font-bold pb-5 mb-5 border-b-1 border-b-white">EXPERIENCE</h1>
        <div class="py-3 flex justify-center">
          <a href="/resume" class="px-4 py-3 bg-white cursor-pointer text-bg1 rounded-full mb-5 hover:bg-gray-200">Download Resume -></a>
        </div>
        <ol>
          <li>
            <h2 class="font-bold text-xl">Globe Telecom Inc. (2024-Present)</h2>
            <p class="mb-5 text-justify">
              As part of the Enablement Team, he is responsible for implementing use cases in the GlobeOne and GOMO applications. His work has involved integrating third-party platforms like Braze to track user behavior and leading the development of screens and components for internal tools. He has also collaborated on design decisions and developed scalable components in Swift.
            </p>
          </li>
          <li>
            <h2 class="font-bold text-xl">Deloitte Philippines Delivery Center (2022-2024)</h2>
            <p class="mb-5 text-justify">
              Hired as a Junior Developer, he gained experience through internal training and client-facing projects. He was responsible for creating React Native TypeScript code for the Flight Centre Mobile App, utilizing CI/CD platforms like Bitrise, and maintaining reusable UI components. He also served as the sole mobile developer for the Oporto Mobile App, where he fixed bugs and replicated client designs.
            </p>
          </li>
          <li>
            <h2 class="font-bold text-xl">Chimes Consulting (2020-2021)</h2>
            <p class="mb-5 text-justify">
              As a Frontend Associate, he assisted the development team by performing quality assurance testing on WordPress websites and contributed to website maintenance and content creation.
            </p>
          </li>
        </ol>
      </section>
      <section class="mb-10">
        <h1 class="text-3xl sm:text-4xl font-bold pb-5 mb-5 border-b-1 border-b-white">GITHUB</h1>
        <div class="flex flex-wrap mb-10">
          <div class="w-full lg:flex-1 mr-0 lg:mr-5 mb-5 lg:mb-0 flex flex-col items-center">
            <div>
              <img src="./assets/bungaku.webp">
              <h2 class="font-bold text-2xl text-center tracking-widest">bungaku</h2>
              <% if (bungakuVersion.length > 0) { %>
                <p class=" text-center"><%= bungakuVersion %></p>
              <% } %>
            </div>
            <a href="https://github.com/gannhiro/bungaku" class="px-4 py-3 bg-white cursor-pointer text-bg1 rounded-full my-5 hover:bg-gray-200" target="_blank">
              Go to repo ->
            </a>
            <p class="text-justify mb-5">
              He developed a Japanese comic reader application from scratch using Bare React Native. This project utilizes WatermelonDB and Redux for state management and RN Filesystem for file handling.
            </p>
            <h4 class="text-xl font-bold self-start">Features</h4>
            <ol class="pl-5 text-justify">
              <li class="list-disc">
                <span class="font-bold">Local Library</span>: The system allows users to download chapters of manga provided by MangaDex for offline access.
              </li>
              <li class="list-disc">
                <span class="font-bold">Resistant Downloads</span>: A key operational feature is its resistant download capability, which ensures that any ongoing downloads will automatically resume on app start if the application was previously closed.
              </li>
              <li class="list-disc">
                <span class="font-bold">Zoomable pages</span>: To help with people with poor eyesight or just wants to appreciate the details of the comic.
              </li>
            </ol>
          </div>
          <div class="flex flex-col items-center justify-center w-full lg:w-1/4">
            <video autoplay loop muted playsinline class="w-60 mb-5">
              <source src="./assets/bungaku-preview.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            <h4>Preview of bungaku</h4>
          </div>
        </div>
        <div class="h-[90vh] flex flex-col items-center justify-center">
          <% for (let i = 0; i < dialogues.length; i++) { %>
            <% if (i === 1) { %>
              <a href="https://github.com/gannhiro/bungaku" class="px-4 py-3 bg-white cursor-pointer text-bg1 rounded-full mb-7 hover:bg-gray-200" target="_blank">
                Go to repo ->
              </a>
            <% } %>
            <%- await include('./src/views/acDialogueView.ejs', dialogues[i]) %>
          <% } %>
        </div>
      </section>
      <section class="mb-10 py-5">
        <h1 class="text-4xl font-bold pb-5 mb-10 border-b-1 border-b-white">TECHNICAL SKILLS</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-10">
          <% for(let i = 0; i < technicalSkills.length; i++) { %>
            <%- await include('./src/views/iconWithTitle.ejs', technicalSkills[i]) %>
          <% } %>
        </div>
      </section>
    </main>

    <div class="absolute w-screen top-0 left-0 pt-5 px-5">
      <%- await include('./src/views/acDialogueView.ejs', {
        name: "Estella",
        content: "With love and care for all that we do.",
        affiliation: "friendly"
      }) %>
    </div>
  </body>
</html>

