@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/victor-mono-v5-latin-100.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/victor-mono-v5-latin-200.woff2") format("woff2");
}
/* victor-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/victor-mono-v5-latin-700.woff2") format("woff2");
}

@theme {
  --font-main: "Victor Mono", serif;
  --font-display: "Gravitas One", serif;
  --font-display2: "Limelight", serif;
  --color-primary: oklch(93.29% 0.111 99.89);
  --color-bg1: oklch(47.52% 0.07 241.59);
  --color-bg2: oklch(42.2% 0.071 241.83);
  --color-bg3: oklch(30.21% 0.068 244.5);
}

ul {
  padding-left: calc(var(--spacing) * 4);
  list-style-type: disc;
  margin-bottom: calc(var(--spacing) * 1);
}

li {
  margin-bottom: calc(var(--spacing) * 1);
  --tw-font-weight: var(--font-weight-black);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grain-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: url(#grainy-noise);
  opacity: 0.2;
  pointer-events: none;
}
