@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: "Gravitas One";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/gravitas-one-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Limelight";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/limelight-v21-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/victor-mono-v5-latin-100.woff2") format("woff2");
}
/* victor-mono-100italic - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 100;
  src: url("./fonts/victor-mono-v5-latin-100italic.woff2") format("woff2");
}
/* victor-mono-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 200;
  src: url("./fonts/victor-mono-v5-latin-200.woff2") format("woff2");
}
/* victor-mono-200italic - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 200;
  src: url("./fonts/victor-mono-v5-latin-200italic.woff2") format("woff2");
}
/* victor-mono-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/victor-mono-v5-latin-300.woff2") format("woff2");
}
/* victor-mono-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 300;
  src: url("./fonts/victor-mono-v5-latin-300italic.woff2") format("woff2");
}
/* victor-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/victor-mono-v5-latin-regular.woff2") format("woff2");
}
/* victor-mono-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/victor-mono-v5-latin-italic.woff2") format("woff2");
}
/* victor-mono-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/victor-mono-v5-latin-500.woff2") format("woff2");
}
/* victor-mono-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/victor-mono-v5-latin-500italic.woff2") format("woff2");
}
/* victor-mono-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/victor-mono-v5-latin-600.woff2") format("woff2");
}
/* victor-mono-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 600;
  src: url("./fonts/victor-mono-v5-latin-600italic.woff2") format("woff2");
}
/* victor-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/victor-mono-v5-latin-700.woff2") format("woff2");
}
/* victor-mono-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Victor Mono";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/victor-mono-v5-latin-700italic.woff2") format("woff2");
}

@theme {
  --font-main: "Victor Mono", serif;
  --font-display: "Gravitas One", serif;
  --font-display2: "Limelight", serif;
  --color-primary: oklch(93.29% 0.111 99.89);
}

.stretched-up-text {
  display: inline-block;
  transform: scaleY(1.5);
}

.glow-outwards {
  filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff);
}

ul {
  padding-left: calc(var(--spacing) * 4);
}

li {
  font-size: var(--text-xl);
  line-height: var(--tw-leading, var(--text-xl--line-height));
  margin-bottom: calc(var(--spacing) * 1);
}
